html
  head
    title=title
  body
    header(style='background:#EEE; padding:10px')
      a(href='/') Home
      span  | 
      a(href='/books') View Books
      span  | 
      a(href='/add-book') Add Book
      span  | 
      a(href='/about') About

    if errMsg
      div(style='background:red;color:white; margin:20px 10px 10px 10px;padding:10px') #{errMsg}
